#contact{
    color: #eee;
    padding-top: 12%;
    padding-bottom: 10%;
    background-color: #131417;
    align-items: center;
}


.form-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    padding: 20px;
}


#contact-detail {
    margin-top: 10%;
}

#msgSentCard {
    margin-right: auto;
    margin-left: 30px;
    margin-top: 15%;
    padding: 20px;
    display: none;
}


#loader {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 8% !important;
    display: none;
  }

  .dot {
    background-color:lightgrey;
    height:40px;
    width:40px;
    margin: 3px;
    border-radius:50%;
    float:left;
  }
  
  #dot1 {
    animation-name: example1;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
  }
  
  #dot2 {
    animation-name: example2;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
  }
  
  #dot3 {
    animation-name: example3;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
  }
  
  @keyframes example1 {
    0%   {opacity:0.2}
    25% {opacity:0.4}
    50%  {opacity:0.9}
    100% {opacity:1} 
  }
  
  @keyframes example2 {
    0%   {opacity:1}
    50%  {opacity:0.2}
    100% {opacity:0.9}  
  }
  
  @keyframes example3 {
    0%   {opacity:0.9}
    50%  {opacity:1}
    100% {opacity:0.2}
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

@media (max-width:415px) {
    #contact{
        margin-left: 10%;
    }
    #loader {
        margin-left: 20% !important;
    }
    

}

@media (min-width:540px) {
    .col{
        margin-left: 13%;
    }

    #loader {
        margin-left: 5%;
    }
}
